body {
    margin:0;
}

* {
    font-size: 100%;
    font-family: "Lato", sans-serif;
}

.titlehomepage {
    font-size: 70px;
    margin-top: 200px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.title {
    font-size: 30px;
    font-weight: bold;
   }
.homepagetext {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: large;
}

.homebackground {
    width: 100%;
    height: auto;
    opacity: 0.33;
    margin-bottom: -5px;
}

.text {
    margin-left: 100px;
    margin-top: 30px;
    margin-right: 100px;
}   

.menu-bar {
    background-color: white;
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: flex-end;
    height: 50px; 
    width: 100%;
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    padding-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-bar a {
    color: rgb(0, 0, 0); 
    text-decoration: none; 
    padding: 0px 30px; 
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease; 
}

.menu-bar a:hover {
    color: #658dd8;
}

.dropdown-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
  }

.dropdownbutton {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropdownbutton {background-color:#658dd8}

.pdf {
    display: inline;
}

html {
    scroll-behavior: smooth;
}

.highlight {
    background-color: rgb(233, 253, 254); /* Highlight color */
    transition: background-color 1.0s,ease-in-out; /* Smooth fade effect */
}

.section {
    scroll-margin-top: 160px;
}

.linktopdf {
    transition-duration: 0.2s;
    background-color: white;
    border-width:1px;
    border-radius: 5px;
  }
  
.linktopdf:hover {
    background-color: #dfdede; /* Green */
    color: black;
    cursor: pointer;
}

#top {
    display: none;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(0, 0, 0); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 12px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 15px; /* Increase font size */
    font-weight: bold;
  }
  
  .top:hover {
    background-color: #000000; /* Add a dark-grey background on hover */
  }
